.app-header {

  &__logo {
    display: block;
    width: auto;
    margin-right: $space-md;

    color: $white;

    &:hover {
      color: $white;
    }

    @media (--medium-up) {
      width: 127px;
    }
  }

  &__main {
    position: relative;
    // position: fixed;
    // top: 0;
    // right: 0;
    // left: 0;
    z-index: $z-index-20;

    padding-top: $space-sm;

    background-color: $color-primary;

    @media (--large-up) {
      padding-top: $space-lg;
    }
  }

  &__search-wrap {
    position: relative;
  }

  &__suggest-box {
    position: absolute;
    top: $space-xxlg;

    width: 100%;
    padding: $space-sm 0;

    background-color: $white;
    border-radius: $radius;
  }

  &__suggest-item {
    display: block;
    padding: $space-sm;

    color: $body-color;

    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
    }

    &.active,
    &:hover {
      background-color: $border-color;
    }
  }

  &__search-input {
    display: block;
    size: 100% $space-xlg;
    padding: $space-xs $space-sm $space-xs $space-xlg;

    font-size: $font-size-h6;

    background-color: $white;
    border-radius: $radius;

    @include border($border-color);

    &:hover,
    &:focus {
      outline: none;
    }

    @media (--large-up) {
      height: auto;
      padding-top: $space-sm;
      padding-bottom: $space-sm;
      font-size: $font-size-h5;
    }
  }

  &__search-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    padding: $space-xs $space-sm;

    color: $color-primary;

    background-color: transparent;
    border: 0;
  }

  &__action-box {
    flex-grow: 1;
  }

  &__cta-box {
    display: none;

    @media (--large-up) {
      display: block;
    }
  }

  &__ghost {
    height: 109px;

    @media (--medium-up) {
      height: 125px;
    }

    @media (--large-up) {
      height: 160px;
    }
  }

  &__backdrop {
    position: fixed 0;
    z-index: $z-index-10;

    background-color: rgba($body-color, 0.7);
  }
}
