.app-header {

  &__logo {
    display: block;
    width: 127px;
    margin-right: $space-md;
  }

  &__main {
    // position: fixed;
    // top: 0;
    // right: 0;
    // left: 0;
    // z-index: $z-index-10;

    padding: $space-lg 0 0;

    background-image: linear-gradient(to bottom, darken($color-primary, 20%), $color-primary);
  }

  // &__ghost {
  //   height: 70px;
  // }
}
