.badge {
  position: relative;
  display: inline-block;

  &__addon {
    position: absolute;
    top: -4px;
    right: -8px;

    height: $space-md;
    padding: 0 5px;

    font-size: $font-size-h6;
    color: $white;
    text-align: center;

    background-color: $color-warning;
    border-radius: 8px;
  }
}
