.btn {
  display: inline-block;
  padding: $space-xs $space-md;

  font-size: 14px;
  line-height: $line-height-base;
  color: $body-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  cursor: pointer;
  background-color: $white;
  border-radius: $radius;

  transition: background-color $transition-time $transition-effect;

  @include border($border-color);

  &.active,
  &:hover {
    color: currentColor;
    background-color: $muted;
    outline: none;
  }

  &:focus {
    @include box-shadow;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: $opacity;

    &:hover {
      background-color: inherit;
    }
  }

  &_special {
    color: $color-primary;

    border: 2px solid $color-primary;
    border-radius: $radius;

    &:hover {
      color: $white;

      background-color: $color-primary;
    }
  }

  &_warning-bordered {
    color: $color-warning;

    border: 2px solid $color-warning;
    border-radius: $radius;

    &:hover {
      color: $white;

      background-color: $color-warning;
    }
  }

  &_large {
    padding: $space-sm $space-xlg;
  }

  &_small {
    padding: $space-xs $space-sm;

    font-size: $font-size-h6;
  }

  &_block {
    display: block;
    width: 100%;
  }

  &_reset {
    padding: 0;
    background-color: transparent;
    border: 0;

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: none;
    }
  }
}

/* Generate button options except special */
@each $type, $bg in (
  primary: $color-primary,
  success: $color-success,
  info: $color-info,
  warning: $color-warning,
  danger: $color-danger
) {

  .btn_#{$type} {
    color: $white;

    background-color: $bg;
    border-color: $bg;

    &.active,
    &:hover {
      color: $white;
      background-color: darken($bg, 10%);
    }

    &:disabled {

      &:hover,
      &:focus {
        background-color: $bg;
      }
    }
  }
}

.btn-dropdown {
  position: relative;

  display: inline-block;

  &__menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: $z-index-10;

    min-width: $btn-group-dropdown-menu;
    padding: $space-xs 0;
    margin-top: $space-xs;

    visibility: hidden;
    background-color: $alabaster;
    border-radius: $radius;
    box-shadow: 2px 5px 7px -2px rgba($body-color, 0.4);
    opacity: 0;

    transition: opacity $transition-time $transition-effect;

    @include border($muted);

    &.open {
      visibility: visible;
      opacity: 1;
    }
  }

  &__item {
    display: block;
    width: 100%;
    padding: $space-xs $space-md;

    color: $color-primary;
    text-align: left;

    background-color: transparent;
    border: 0;
  }
}

.btn-split {

  &__addon {
    position: relative;

    padding-right: $space-sm;
    padding-left: $space-sm;

    &::before {
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -2px;
      width: 2px;

      content: "";

      background-color: rgba($body-color, 0.3);
    }
  }
}
