.carousel {
  position: relative;

  &__narrow {
    position: absolute;
    top: 50%;

    display: inline-block;
    padding: $space-md;

    color: $color-primary;

    background-color: transparent;
    border: 0;

    transform: translateY(-50%);

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;
    }
  }
}
