.f {

  &__control {
    display: block;
    size: 100% $space-xlg;
    padding: $space-xs $space-sm;

    background-color: $white;
    border-radius: $radius;

    @include border($border-color);

    &:focus {
      border-color: $color-info;
      outline: 0;

      @include box-shadow;
    }

    &[disabled] {
      background-color: lighten($muted, 20%);
      opacity: $opacity;
    }

    /* inline */

    &_inline {
      display: inline-block;
      width: auto;
    }

    /* input group */

    &_ig {
      display: table-cell;
      float: left;
    }

    &_ig-border {
      border: 2px solid rgba($color-primary, 0.3);
      border-right: 0;
    }

    /* input size */

    &_large {
      height: auto;
      padding-top: $space-sm;
      padding-bottom: $space-sm;
    }

    /* input width */

    &_width-auto {
      width: auto;
    }
  }

  &__checkbox,
  &__radio {
    position: relative;

    label { /* stylelint-disable-line */
      padding-left: 20px;

      font-weight: $font-weight-base;

      cursor: pointer;
    }

    [type="checkbox"],
    [type="radio"] {
      position: absolute;
      top: 3px;
      left: 0;
    }

    &.disabled label { /* stylelint-disable-line */
      cursor: not-allowed;
    }

    &_inline {
      display: inline-block;

      &:not(:first-child) {
        margin-left: $space-md;
      }
    }
  }

  &__help-text {
    font-size: $font-size-h6;
    font-style: italic;
    color: $muted;
  }

  &__input-group {
    position: relative;

    display: flex;
  }

  &__input-addon {
    padding: $space-xs $space-md;

    white-space: nowrap;
    vertical-align: middle;

    background-color: $muted;
    border: 0;
    border-radius: $radius;
  }
}

// allow textarea auto span
textarea.f__control { /* stylelint-disable-line */
  height: auto;
}
