.f {

  &__control {
    display: block;
    size: 100% $space-lg;
    padding: $space-xs $space-sm;

    background-color: $white;
    border-radius: $radius;

    @include border($border-color);

    &:focus {
      border-color: $color-info;
      outline: 0;

      @include box-shadow;
    }

    &[disabled] {
      background-color: lighten($muted, 20%);
      opacity: $opacity;
    }

    /* reset height */

    &_rh {
      height: auto;
    }

    /* input group */

    &_ig {
      display: table-cell;
      float: left;
    }
  }

  &__checkbox,
  &__radio {
    position: relative;

    label { /* stylelint-disable-line */
      padding-left: 20px;

      font-weight: $font-weight-base;

      cursor: pointer;
    }

    [type="checkbox"],
    [type="radio"] {
      position: absolute;
      top: 3px;
      left: 0;
    }

    &.disabled label { /* stylelint-disable-line */
      cursor: not-allowed;
    }

    &_inline {
      display: inline-block;

      &:not(:first-child) {
        margin-left: $space-md;
      }
    }
  }

  &__help-text {
    font-size: $font-size-h6;
    font-style: italic;
    color: $muted;
  }

  &__input-group {
    position: relative;

    display: table;

    clear: fix;
  }

  &__input-addon {
    display: table-cell;
    width: 1%;
    padding: $space-xs $space-md;

    white-space: nowrap;
    vertical-align: middle;

    background-color: $muted;
    border-radius: $radius;
  }
}
