.loader {

  &__line {
    height: $space-md;

    background-color: $muted;
    border-radius: $radius;

    animation: bubble 1.5s infinite;

    &_tall {
      height: $space-lg;
    }

    &_medium {
      width: 50%;
    }

    &_short {
      width: 30%;
    }

    &_circle {
      size: $space-xlg;

      border-radius: 50%;
    }
  }
}

@keyframes bubble {

  0% {
    background-color: $muted;
  }

  50% {
    background-color: lighten($muted, 10%);
  }

  100% {
    background-color: $muted;
  }
}
