.media {
  position: relative;

  border-radius: $radius;

  &__content {
    display: flex;
    align-items: center;
    padding: $space-sm 0;
  }

  &__head {
    size: ($base * 5);
    margin-right: $space-sm;

    &_small {
      size: ($base * 3);
    }
  }

  &__body {
    flex-grow: 1;
  }

  &__addon {
    position: absolute;
    top: 0;
    right: 0;
    // z-index: $z-index-10;

    padding: $space-sm;

    cursor: pointer;
    background-color: transparent;
    border: 0;
  }
}
