.app-mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-xs 10px;

  background-color: $color-primary;

  &__item,
  &__logo {
    color: $white;
  }

  &__item {
    flex: 1;
  }

  &__logo {
    flex: 2;
    text-align: center;
  }

  &__heading {
    margin: 0;
  }
}
