.nav-tab {
  position: relative;

  &__list {
    display: flex;
    overflow-x: auto;

    white-space: nowrap;

    @include reset-default-list-style;

    &::-webkit-scrollbar {
      display: none;
    }

    // &::after {
    //   position: absolute;
    //   top: 2px;
    //   right: 0;
    //   bottom: 0;
    //   width: ($base * 4);
    //
    //   pointer-events: none;
    //   content: "";
    //   background-image: linear-gradient(to left, lighten($border-color, 65%), transparent);
    //   opacity: 1;
    //   transition: opacity $transition-time $transition-effect;
    // }
  }

  &__item {
    flex: 1;

    // margin-bottom: -1px;

    text-align: center;

    border: 2px solid transparent;
    border-bottom-color: $border-color;

    &:not(:last-child) {
      margin-right: -3px;
    }

    &.active {
      border-top-color: $color-primary;
      border-right-color: $border-color;
      border-bottom-color: $white;
      border-left-color: $border-color;

      &:first-child {
        border-left-color: transparent;
      }

      &:last-child {
        border-right-color: transparent;
      }

      .nav-tab__link {
        color: $color-primary;
      }
    }

    // @media (--medium-up) {
    //   margin-bottom: -2px;
    // }
  }

  &__link {
    display: block;
    padding: $space-sm;

    font-weight: $font-weight-normal;
    color: $body-color;

    &:hover {
      color: $color-primary;
    }
  }

  // &__shadow {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //
  //   width: $base;
  //
  //   background-image: linear-gradient(to left, lighten($color-primary, 65%), rgba($muted, 0));
  // }
}
