.nav-tab-v {
  @include reset-default-list-style;

  &__item {
    position: relative;

    border-bottom: 2px solid $border-color;

    &.active::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      width: $space-xs;
      content: "";

      background-color: $color-primary;
    }
  }

  &__link {
    display: flex;
    padding: $space-md;

    transition: background-color $transition-time $transition-effect;

    &:hover {
      background-color: $border-color;
    }
  }

  &__text {
    flex-grow: 1;
    margin-right: $space-sm;

    color: $body-color;
  }
}
