.nav {
  display: flex;

  font-size: $font-size-h4;
  text-align: center;

  &__link {
    flex: 1;
    padding: $space-lg $space-sm;

    line-height: 1;

    color: $white;

    transition: background-color $transition-time $transition-effect;

    &.active,
    &:hover {
      color: $white;

      background-color: lighten($color-primary, 10%);
    }
  }
}
