.nav {
  display: flex;
  max-width: $row-width;
  margin: 0 auto;

  text-align: center;

  @media (--large-up) {
    font-size: $font-size-h4;
  }

  &__link {
    flex: 1;
    padding: $space-md $space-xs;

    font-weight: $font-weight-base;
    line-height: 1;

    color: $white;

    transition: background-color $transition-time $transition-effect;

    &.active,
    &:hover {
      color: $white;

      background-color: lighten($color-primary, 5%);
    }

    @media (--medium-up) {
      padding: $space-lg $space-sm;
    }
  }
}
