.nav {

  &__list {
    text-align: right;

    @include reset-default-list-style;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $space-md;
    }
  }

  &__link {
    line-height: 1;

    color: $white;
  }
}
