.ribbon {
  position: relative;
  display: inline-block;

  &::before {
    position: absolute;
    bottom: -4px;
    left: 0;

    triangle: right-iso pointing-down;
    width: $space-sm;
    content: "";

    background-color: darken($color-primary, 10%);

    transform: rotateZ(-135deg);
  }

  &__content {
    position: relative;

    display: block;
    padding: $space-sm $space-md;

    font-size: $font-size-h6;
    color: $white;

    background-color: $color-primary;

    &::before,
    &::after {
      position: absolute;

      triangle: right-iso pointing-right;
      width: $space-md;
      content: "";

      background-color: $color-primary;
    }

    &::before {
      top: -11px;
      right: -11px;

      transform: rotateZ(-135deg);
    }

    &::after {
      right: -11px;
      bottom: -11px;

      transform: rotateZ(135deg);
    }
  }

  &_translate-left_23 {
    transform: translateX(-23px);
  }
}
