.rope {
  position: relative;

  &__content-truncate {
    display: -webkit-box; /* stylelint-disable-line */
    max-height: ($line-height-base * 5);
    overflow: hidden;

    line-height: $line-height-base;
    // text-overflow: ellipsis;
    -webkit-box-orient: vertical; /* stylelint-disable-line */
    -webkit-line-clamp: 5; /* stylelint-disable-line */
  }

  &__btn {
    position: absolute;
    right: 0;
    bottom: 0;

    padding: 0 0 0 $space-xs;

    background-color: $white;
    border: 0;
    box-shadow: -$base 0 $base rgba($white, 0.85);
  }
}
