.wtag {
  display: inline-block;
  padding: $space-xs $space-sm;

  color: $body-color;
  white-space: nowrap;

  background-color: $alabaster;
  border: 1px solid $border-color;
  border-radius: $space-md;

  transition: background-color $transition-time $transition-effect;

  &:hover {
    color: $body-color;

    background-color: darken($alabaster, 5%);
  }
}

.wtag-2 {
  display: inline-block;
  padding: $space-xs $space-md;

  color: $color-primary;

  background-color: $white;
  border: 1px solid $color-primary;
  border-radius: $radius;
}
