{
  "plugins": [],
  "extends": "stylelint-config-primer",
  "rules": {
    "rule-empty-line-before": "always-multi-line",
    "media-feature-no-missing-punctuation": null,
    "rule-nested-empty-line-before": null,
    "rule-non-nested-empty-line-before": null,
    "no-unsupported-browser-features": null
  }
}
