.list-unstyled {
  @include reset-default-list-style;
}

.list-inline {
  li { /* stylelint-disable-line */
    display: inline-block;
    margin-right: $space-md;
  }

  @include reset-default-list-style;
}

.list-underline {

  > li { /* stylelint-disable-line */
    padding: $space-sm $space-md;

    &:not(:last-child) {
      border-bottom: 1px solid $muted;
    }
  }

  @include reset-default-list-style;
}

.list-inline-2 {

  li { /* stylelint-disable-line */
    display: inline-flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: $space-sm;
    }

    &::after {
      display: inline-block;
      margin-left: $space-sm;
      content: "";
      size: $space-xs;

      background-color: $muted;
      border-radius: 50%;
    }

    &:last-child::after {
      display: none;
    }
  }

  @include reset-default-list-style;
}

.list-breadcrumb {

  &__item {
    display: inline-block;

    text-align: center;

    &:not(:last-child) {
      margin-right: $space-xs;
    }
  }

  .btn {
    size: 32px;
    line-height: 30px;
    background-color: transparent;
    border: 2px solid transparent;

    &.active,
    &:hover {
      border-color: $muted;
      border-radius: 50%;
    }
  }

  @include reset-default-list-style;
}

.list-h-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  &.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
