/* Margin right */

.mrxs {
  margin-right: $space-xs;
}

.mrsm {
  margin-right: $space-sm;
}

.mrmd {
  margin-right: $space-md;
}

.mrlg {
  margin-right: $space-lg;
}

.mrxlg {
  margin-right: $space-xlg;
}

/* Margin bottom */

.mbxs {
  margin-bottom: $space-xs;
}

.mbsm {
  margin-bottom: $space-sm;
}

.mbmd {
  margin-bottom: $space-md;
}

.mblg {
  margin-bottom: $space-lg;
}

.mbxlg {
  margin-bottom: $space-xlg;
}

@media (--small-only) {

  .mbsm_small-only {
    margin-bottom: $space-sm;
  }

  .mbmd_small-only {
    margin-bottom: $space-md;
  }
}
