/* stylelint-disable */
.mb-reset {
  margin-bottom: 0;
}

// margin and padding values array
$space-values : (
  xs: 4,
  sm: 8,
  md: 16,
  lg: 24,
  xlg: 32,
  xxlg: 56
);

// margin and padding shorthands
$space-prefixes : (
  p: padding,
  pr: padding-right,
  pl: padding-left,
  pt: padding-top,
  pb: padding-bottom,
  mt : margin-top,
  mr : margin-right,
  mb : margin-bottom,
  ml : margin-left,
);

// change these values if its not imported into bootstrap
$grid-breakpoints: (
  // Small screen / phone
  small: 0,
  // Medium screen / tablet
  medium: 640px,
  // Large screen / desktop
  large: 1024px,
  // Extra large screen / wide desktop
  xlarge: 1200px,
  xxlarge: 1440px,
);

// main function definition
@mixin make-space($values, $prefixes, $breakpoints) {
  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    // if xs value = 0, set it global without media queries
    @if($breakpoint-value == 0) {
      @each $attr-short, $attr-long in $prefixes {
        @each $alias, $value in $values {
          .#{$attr-short}#{$alias} {
            #{$attr-long}: #{$value}#{'px'};
          }
        }
      }
    }
    // breakpoint values that not equal to 0
    @else {
      @media screen and (max-width: $breakpoint-value) {
        @each $attr-short, $attr-long in $prefixes {
          @each $alias, $value in $values {
            .#{$breakpoint-name}-#{$attr-short}#{$alias} {
              #{$attr-long}: #{$value}#{'px'};
            }
          }
        }
      }
    }
  }
}

@include make-space($space-values, $space-prefixes, $grid-breakpoints);
