.txt-large {
  font-size: $font-size-h4;
}

.txt-small {
  font-size: $font-size-h6;
}

.txt-muted {
  color: $muted;
}

.txt-bold {
  font-weight: $font-weight-bold;
}

/* Alignment */

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

/* Colors */

.txt-white {
  color: $white;
}

.txt-primary-color {
  color: $color-primary;
}

.txt-body-color {
  color: $body-color;
}
