/* Table of contents */

/*
 *  1. Global
 *  2. Colors
 *  3. Typography
 *  4. Space
 *  5. Media Query
 *  6. Border
 *  7. Misc
 *
 */

/* 1. Global */
$base: 8px;
$type-scale: 1.25;
$line-height-base: 1.4;
$row-width: 992px;

/* 2. Colors */
$emperor: #514f4f;
$white: #fff;
$silver: #999;
$mercury: #ebebeb;

$jade: #02a876;
$jade-lighten: rgba($jade, 0.4);
$jade-darken: darken($jade, 10%);

$blue-jeans: #5bc0eb;
$flame: #e55934;
$android-green: #9bc53d;
$jaffa: #f07736;
$alabaster: #f8f8f8;

$color-primary: $jade;
$color-secondary: $emperor;
$color-info: $blue-jeans;
$color-success: $android-green;
$color-warning: $jaffa;
$color-danger: $flame;

$body-bg: $white;
$body-color: $emperor;
$link-color: $color-primary;
$muted: $silver;

/* 3. Typography */
$font-sans-serif: "Roboto", sans-serif;
// $font-serif: Bitter, serif;
$font-special: Damion, cursive; /* This is optional, remove if nessesary */

$font-family-body: $font-sans-serif;
// $font-family-heading: $font-serif;

$font-size-base: ($base * 2);
$font-size-h1: ($font-size-base * $type-scale * $type-scale * $type-scale * $type-scale);
$font-size-h2: ($font-size-base * $type-scale * $type-scale * $type-scale);
$font-size-h3: ($font-size-base * $type-scale * $type-scale);
$font-size-h4: ($font-size-base * $type-scale);
$font-size-h5: $font-size-base;
$font-size-h6: ($font-size-base / $type-scale);

$font-weight-base: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

/* 4. Space */
$space-xs: ($base / 2);
$space-sm: ($base);
$space-md: ($base * 2);
$space-lg: ($base * 3);
$space-xlg: ($base * 4);
$space-xxlg: ($base * 6);

/* 5. Media Query */
@custom-media --small-only (max-width: 639px);
@custom-media --medium-up (min-width: 640px);
@custom-media --large-up (min-width: 1024px);

/* 6. Border */
$radius: 3px;
$radius-big: $base;
$border-color: $mercury;

/* 7. Misc */
$opacity: 0.6;

// nature z-index = 0
// z-index-10 = 10
// z-index-20 = 20
// z-index-max = 100
$z-index-10: 10;
$z-index-20: 20;
$z-index-max: 100;

$btn-group-dropdown-menu: 160px;

$transition-time: 0.25s;
$transition-effect: ease-in;
