/* Variables */
/* Table of contents */
/*
 *  1. Global
 *  2. Colors
 *  3. Typography
 *  4. Space
 *  5. Media Query
 *  6. Border
 *  7. Misc
 *
 */
/* 1. Global */
/* 2. Colors */
/* 3. Typography */
/* This is optional, remove if nessesary */
/* 4. Space */
/* 5. Media Query */
/* 6. Border */
/* 7. Misc */
/* Header */
.pt-header {
  background-color: #fff;
}

/* Navigation */
.pt-main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  background-color: #02a876;
}

.pt-main-nav__item {
  list-style: none;
}

.pt-main-nav__link {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
}

.pt-sub-nav {
  padding: 0.5rem 0;
  margin: 0;
}

.pt-sub-nav__item {
  display: inline-block;
  list-style: none;
}

.pt-sub-nav__link {
  display: block;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
  background-color: #02a876;
  border-radius: 0.1875rem;
}

.pt-wrapper {
  margin-bottom: 2rem;
  border: 0.0625rem solid #e3e2e1;
  border-radius: 0.1875rem;
}

.pt-section-heading {
  color: #02a876;
}

.pt-heading {
  padding: 1rem;
  color: #fff;
  background-color: #999;
}

.pt-code-block pre {
  /* stylelint-disable-line */
  margin: 0;
  border-radius: 0 0 0.1875rem 0.1875rem;
}

.pt-code-block__title {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  color: #fff;
  background-color: #999;
}

.pt-example {
  padding: 2rem 1rem;
}

.pt-description {
  padding: 2rem 1rem;
  border-bottom: 0.125rem solid #999;
}
